<%= labelled_form_for custom_reports_clone,
                      url: url,
                      html: { id: 'custom-reports-clone' } do |f| %>

  <%= error_messages_for f.object %>

  <div class='box'>

    <div class='tabular'>

      <p>
        <%= f.select :source_project_id,
                     f.object.source_projects.map { |p| [p.name, p.id] },
                     id: 'source-projects', include_blank: true, selected: selected,
                     data: { url: get_custom_reports_path } %>
      </p>

      <p>
        <%= f.select :custom_report_ids,
                     f.object.source_project_reports.map { |r| [r.name, r.id] },
                     {},
                     multiple: true %>
      </p>

    </div>

  </div>

  <%= submit_tag message %>

<% end %>